@model IEnumerable<Product>

@{
    ViewBag.Title = "Все товары";
    Layout = "_AdminLayout";
}

<div class="m-2">
    <a asp-action="Create" class="btn btn-primary">Добавть товар</a>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <th style="text-align:right">ID</th>
        <th>Наименование</th>
        <th style="text-align:right">Стоимость</th>
        <th colspan="2" class="text-center">Действия</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td style="text-align:right">@item.ProductID</td>
            <td>@item.Name</td>
            <td style="text-align:right">@item.Price.ToString("c")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@item.ProductID">Редактировать</a>
                    <input type="hidden" name="ProductID" value="@item.ProductID"/>
                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>
